<div class="card">
    <div class="card-header">
        Estacionamientos
    </div>
    <div class="card-body">

        @if (loading.parkings) {
        <div class="text-center">
            Cargando información...
        </div>
        } @else {
        <div class="table-responsive">

            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th class="text-center">Estado</th>
                        <th class="text-center">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @for (parking of parkings; track parking) {
                    <tr class="small">
                        <td>{{ parking.codigo }}</td>
                        
                        <td class="text-center">
                            <icon [name]="parking.estado ? 'check' : 'times'" [ngClass]="{
                                'text-danger': !parking.estado,
                                'text-success': parking.estado
                            }"></icon>
                            @if (!parking.estado) {
                                <br>
                                <span class="text-muted small">
                                    {{ parking.motivo_inhabilitado }}
                                </span>
                            }
                        </td>
                        <td class="text-center">
                            <a class="btn btn-outline-warning ">
                                <icon name="pencil"></icon> Modificar
                            </a>
                        </td>

                    </tr>
                    }
                </tbody>

            </table>
        </div>

        }

    </div>
</div>