<ul class="list-unstyled">
    <li class="dropdown pc-h-item header-user-profile" ngbDropdown>
        <a class="pc-head-link dropdown-toggle arrow-none me-0" ngbDropdownToggle>
            <i antIcon type="user" theme="outline"></i>
            <span class="f-w-600 ms-2">Usuario</span>
        </a>
        <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown" ngbDropdownMenu>
            <ul ngbNav #nav="ngbNav" class="nav drp-tabs nav-fill nav-tabs">
                <li ngbNavItem="1">
                    <a ngbNavLink>
                        <i antIcon theme="outline" type="user" class="me-2"></i>
                        Profile
                    </a>
                    <ng-template ngbNavContent>
                        @for (task of profile; track task) {
                        <div>
                            <a class="dropdown-item">
                                <i class="text-muted" antIcon theme="outline" type="{{ task.icon }}"></i>
                                <span>{{ task.title }}</span>
                            </a>
                        </div>
                        }
                        <div>
                            <a class="dropdown-item">
                                <i class="text-muted" antIcon theme="outline" type="logout"></i>
                                <span>Logout</span>
                            </a>
                        </div>
                    </ng-template>
                </li>
                <li ngbNavItem="2">
                    <a ngbNavLink>
                        <i class="me-2" antIcon theme="outline" type="setting"></i>
                        Setting
                    </a>
                    <ng-template ngbNavContent>
                        @for (task of setting; track task) {
                        <div>
                            <a class="dropdown-item">
                                <i class="text-muted" antIcon theme="outline" type="{{ task.icon }}"></i>
                                <span>{{ task.title }}</span>
                            </a>
                        </div>
                        }
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav"></div>
        </div>
    </li>
</ul>